.idea
.idea/php.xml

docker/db/*

/backend/node_modules/*
/backend/vendor/*
/backend/storage/*


/backend/node_modules
/backend/public/css
/backend/public/hot
/backend/public/js
/backend/public/storage
/backend/public/assets
/backend/storage/*.key
/backend/vendor
/backend/.idea
/backend/.vagrant
/backend/Homestead.json
/backend/Homestead.yaml
/backend/npm-debug.log
/backend/yarn-error.log
/backend/.env
/backend/env/.env.develop
/backend/env/.env.production
/backend/.DS_Store
/backend/_ide_helper.php
/backend/.docker-sync/
/backend/.elasticbeanstalk/

/backend/.tags
/backend/.tags1

# swagger
/server/storage/api-docs/api-docs.json

ngrok
